///-------------------------------------------------------------------------///
/// WARNING: Private Sass module (definitions may change at ANY time)
///-------------------------------------------------------------------------///
$_module: "PDS.Components.Dropdown.Item";
/* --- [debug] CONFIG: #{$_module} --- */
@use "../../../core/typography/_config" as Typography;
@use "../../../theme";
@use "../../../utils/pseudo" as Pseudo;
@use "../dialog/_config" as DropdownDialog;

@mixin layout {
  /* [debug] #{$_module}@layout */
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: stretch;
  margin: 0;
  min-height: theme.$size--xl; // 36px
  padding: 0 theme.$size--sm; // 12px
  position: relative;
  width: 100%;

  > * {
    margin: 0;
  }

  > * + * {
    margin-inline-start: theme.$size--2xs;
  }

  // box-shadow has to be applied to ::after,
  // so that the solid :hover background doesn't obstruct
  // the :focus box-shadow
  &::after {
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@mixin __focus-shadow {
  &::after {
    box-shadow: inset theme.$boxShadow--focus;
  }
}

// Focus has to be inset using ::after to avoid overlap with adjacent item bg
@mixin __focus {
  box-shadow: none !important;

  @include Pseudo.focus {
    @include __focus-shadow;
  }

  @include Pseudo.active {
    @include __focus-shadow;
  }
}

@mixin appearance {
  /* [debug] #{$_module}@appearance */
  @include Typography.Interface;
  background-color: theme.$backgroundColor;
  border: none;
  color: theme.$color;
  text-decoration: none;

  @include __focus;
}

@mixin apply {
  @include DropdownDialog.apply {
    @content;
  }
}
