///-------------------------------------------------------------------------///
/// WARNING: Private Sass module (definitions may change at ANY time)
///-------------------------------------------------------------------------///
$_module: "PDS.Components.GlobalHeader.Dropdown.Item.Theme";
/* --- [debug] CONFIG: #{$_module} --- */
@use "../../../../theme";
@use "../../../../tokens/color";
@use "../../../../utils/pseudo" as Pseudo;

// NOTE: styles define a "Dark" theme

@mixin _disabled {
  --pds-backgroundColor: transparent;
  --pds-color: #{color.$ui-gray-700};
}

@mixin appearance--disabled {
  @include _disabled;

  @include Pseudo.hover {
    @include _disabled;
  }

  @include Pseudo.focus {
    @include _disabled;
  }
}

@mixin appearance {
  --pds-backgroundColor: transparent;
  --pds-color: #{color.$ui-gray-200};

  @include Pseudo.hover {
    --pds-backgroundColor: #{color.$ui-gray-900};
    --pds-color: #{color.$white};
  }

  @include Pseudo.active {
    --pds-backgroundColor: #{color.$ui-gray-900};
    --pds-color: #{color.$white};
  }
}
