// DEPRECATED (Oct 2020)
// ---------------------
$action-base: $action-color;       // "Action / Base"
$action-d1:   $action-color--amp1; // "Action / Dark"
$action-l1:   $action-color--dim1; // "Action / Lighter"
$action-l2:   $action-color--dim2; // "Action / Lightest"
$alert-base: $alert-color;       // "Alert / Base"
$alert-d1:   $alert-color--amp1; // "Alert / Dark"
$alert-l1:   $alert-color--dim1; // "Alert / Lighter"
$alert-l2:   $alert-color--dim2; // "Alert / Lightest"
$borderColor--l1: $borderColor--dim1; // "Border / Light"
$failure-base: $error-color;       // "Failure / Base"
$failure-d1:   $error-color--amp1; // "Failure / Dark"
$failure-l1:   $error-color--dim1; // "Failure / Lighter"
$failure-l2:   $error-color--dim2; // "Failure / Lightest"
$fontSize--ui: $ui-fontSize;
$info-base: $info-color;       // "Info / Base"
$info-d1:   $info-color--amp1; // "Info / Dark"
$info-l1:   $info-color--dim1; // "Info / Lighter"
$info-l2:   $info-color--dim2; // "Info / Lightest"
$success-base: $success-color;       // "Success / Base"
$success-d1:   $success-color--amp1; // "Success / Dark"
$success-l1:   $success-color--dim1; // "Success / Lighter"
$success-l2:   $success-color--dim2; // "Success / Lightest"
$warning-base: $warning-color;       // "Warning / Base"
$warning-d1:   $warning-color--amp1; // "Warning / Dark"
$warning-l1:   $warning-color--dim1; // "Warning / Lighter"
$warning-l2:   $warning-color--dim2; // "Warning / Lightest"
