$_module: "PDS.Theme.Light";
@use "../tokens/color";
@use "../tokens/scale";

$_black--a05: rgba(0, 0, 0, 0.05); //  5% black
$_black--a06: rgba(0, 0, 0, 0.06); //  6% black
$_black--a08: rgba(0, 0, 0, 0.08); //  8% black
$_black--a10: rgba(0, 0, 0, 0.10); // 10% black
$_black--a20: rgba(0, 0, 0, 0.20); // 20% black
$_black--a25: rgba(0, 0, 0, 0.25); // 25% black

// Set CSS Custom Properties
@mixin styles {
  /* [debug] #{$_module}@styles */
  --pds-backgroundColor: #{color.$white};
  --pds-color: #{color.$black};
  --pds-focus-color: #{rgba(color.$blue-500, 0.5)};
  // TYPOGRAPHY
  // ----------
  // Per WCAG2.0 § 1.4.12 ("Text Spacing -- Level AA"),
  // these properties must be configurable in order
  // to meet requirements for Level AA compliance.
  //
  // For more info, see https://www.w3.org/WAI/WCAG21/quickref/#text-spacing
  --pds-letterSpacing: 0.12em;
  --pds-lineHeight: 1.5;        // normal
  --pds-lineHeight--dense: 1.2; // dense
  --pds-paragraphSpacing: 2em;  // margin-bottom/margin-block-end
  --pds-wordSpacing: 0.16em;
  // Action
  --pds-action-color:       #{color.$blue-500}; //    base
  --pds-action-color--amp1: #{color.$blue-700}; //  + contrast
  --pds-action-color--dim1: #{color.$blue-100}; //  - contrast
  --pds-action-color--dim2: #{color.$blue-010}; // -- contrast
  // Alert
  --pds-alert-color:       #{color.$orange-500}; //    base
  --pds-alert-color--amp1: #{color.$orange-800}; //  + contrast
  --pds-alert-color--dim1: #{color.$orange-100}; //  - contrast
  --pds-alert-color--dim2: #{color.$orange-010}; // -- contrast
  // Error
  --pds-error-color:       #{color.$red-500}; //    base
  --pds-error-color--amp1: #{color.$red-800}; //  + contrast
  --pds-error-color--dim1: #{color.$red-100}; //  - contrast
  --pds-error-color--dim2: #{color.$red-010}; // -- contrast
  // Info
  --pds-info-color:       #{color.$blue-500}; //    base
  --pds-info-color--amp1: #{color.$blue-700}; //  + contrast
  --pds-info-color--dim1: #{color.$blue-100}; //  - contrast
  --pds-info-color--dim2: #{color.$blue-010}; // -- contrast
  // Success
  --pds-success-color:       #{color.$green-500}; //    base
  --pds-success-color--amp1: #{color.$green-800}; //  + contrast
  --pds-success-color--dim1: #{color.$green-100}; //  - contrast
  --pds-success-color--dim2: #{color.$green-010}; // -- contrast
  // Warning
  --pds-warning-color:       #{color.$yellow-500}; //    base
  --pds-warning-color--amp1: #{color.$yellow-800}; //  + contrast
  --pds-warning-color--dim1: #{color.$yellow-100}; //  - contrast
  --pds-warning-color--dim2: #{color.$yellow-010}; // -- contrast
  // Borders
  --pds-borderColor: #{color.$ui-gray-300};      //   base
  --pds-borderColor--dim1: #{color.$ui-gray-200}; // - contrast
  --pds-borderColor--amp: #{color.$ui-gray-700}; // + contrast
  --pds-borderRadius: #{scale.$sm--4}; // ~2px
  // Shadows (see PDS.Utils.Shadow)
  --pds-shadow--focus: 0 0 0 3px var(--pds-focus-color);
  --pds-shadow--well: inset 0 3px 1px #{$_black--a06};
  --pds-shadow--low: 0 4px 4px #{$_black--a25};
  --pds-shadow--middle: 0 4px 8px #{$_black--a05}, 0 4px 4px #{$_black--a10};
  --pds-shadow--high: 0 5px 5px #{$_black--a08}, 0 8px 10px #{$_black--a10};
  --pds-shadow--highest: 0 6px 6px #{$_black--a06}, 0 12px 16px #{$_black--a20};
}

@mixin apply {
  /* [debug] #{$_module}@apply */
  .pds-theme--light {
    @content;
  }
}
