$_module: "PDS.Theme.Light";
// config may not be the final "base" of a theme,
// but it'll likely be a big part of it
@use "sass:map";
@use "../tokens/color";
@use "../tokens/font";
@use "../tokens/resolutions";
@use "../tokens/scale";

// TODO: deprecate/rename vars to fit EPM naming format

// TODO: update with generic set of baseline
// variables in order to easily apply a theme.
// (see p39-42 in October 2019 Brand Guide)

// Ideally, configuration can be done via CSS custom properties
// in order to enable simpler client-side a11y configuration.
// This requires some auditing and research to identify which
// settings should be client-side configurable.
//
// For now, we define everything in Sass.
// Sass variables define the theme module "exports"
// for `@use "pds/theme";` within consuming apps as `theme.*` vars.
//
// This should allow for the replacement, or injection of
// new/custom themes into the module @use chain.

///----------------------------------------///
/// CORE DEFAULTS
///----------------------------------------///
$rem: 16px;
$backgroundColor: color.$white;
$color: color.$black;


///----------------------------------------///
/// CORE SCALE
///----------------------------------------///
// Useful for:
//   - Dimensions (height, width, offset, etc.)
//   - Spacing (margin, padding, etc.)
//   - Font Size (headings, body copy, subtext, supertext, etc.)
$size--2xs: scale.$sm-3; // 4px  (0.25rem)
$size--xs:  scale.$sm-2; // 8px  (0.5rem)
$size--sm:  scale.$sm-1; // 12px (0.75rem)
$size--md:  scale.$base; // 16px (1rem)
$size--lg:  scale.$lg-2; // 24px (1.5rem)
$size--xl:  scale.$lg-5; // 36px (2.25rem)
$size--2xl: scale.$lg-7; // 48px (3rem)


// FIXME: "magic number" outside of defined scale
//
// DO NOT use this variable outside of this module!
//
// This private var is used to apply a 14px font size to theme variables
// (i.e., variables defined in THIS file) that require it as part of design
// specifications.  Because it is a value that doesn't exist in the modular
// scale (see tokens/scale.scss), we need to keep it centralized to prevent
// accidental use by consumers and to provide an upgrade path if designs are
// modified in the future.
$_size14: 0.875rem; // ~14px


///----------------------------------------///
/// CORE MEDIA/RESPONSIVE BREAKPOINTS
///----------------------------------------///
// Sass Only! (DO NOT allow client configuration)
//
// Even if we did allow client a11y configuration,
// CSS custom properties can't be used in @media
// queries.  Media Queries Level 5 spec will enable
// this, but it's not yet available in any browser.

/// Mobile (small) -- low/medium res smartphones
/// Mobile (large) -- Tablets (portrait) & high-res smartphones
$media--xs: 30rem !default; // ~480px
/// Desktop (small) -- Tablets (landscape) & Low-res PCs
$media--sm: resolutions.$svga-width !default;
/// Desktop (medium) -- High-res screens
$media--md: resolutions.$hd-width !default;
/// Desktop (large) -- High-definition screens (1080p and higher)
$media--lg: resolutions.$fhd-width !default;


///----------------------------------------///
/// CORE TYPOGRAPHY
///----------------------------------------///
:root {
  // Per WCAG2.0 § 1.4.12 ("Text Spacing -- Level AA"),
  // these properties must be configurable in order
  // to meet requirements for Level AA compliance.
  //
  // For more info, see https://www.w3.org/WAI/WCAG21/quickref/#text-spacing
  --pds-letterSpacing: 0.12em; // letter-spacing
  --pds-lineHeight: 1.5;       // line-height (normal)
  --pds-lineHeight--dense: 1.2; // line-height (dense)
  --pds-paragraphSpacing: 2em; // margin-bottom (block-end margin)
  --pds-wordSpacing: 0.16em;   // word-spacing
}
$fontFamily: font.$family-system-sans;
$fontFamily--code: font.$family-system-mono;
$fontSize: $size--md; // 16px (1rem)
$fontSize--lg: scale.$lg--1; // 20px
$fontSize--sm: scale.$sm--1; // 12px
$fontWeight: font.weight(Regular);
$letterSpacing: var(--pds-letterSpacing);
$lineHeight: var(--pds-lineHeight);
$lineHeight--dense: var(--pds-lineHeight--dense);
$paragraphSpacing: var(--pds-paragraphSpacing);
$wordSpacing: var(--pds-wordSpacing);


///----------------------------------------///
/// CORE BORDERS
///----------------------------------------///
:root {
  --pds-borderRadius: #{scale.$sm--4}; // ~2px
}
$borderColor: color.$ui-gray-300;
$borderColor--l1: color.$ui-gray-200;
$borderRadius: var(--pds-borderRadius);

///----------------------------------------///
/// CORE ACTION
///----------------------------------------///
$action-l2:   color.$blue-010; // Lightest (+2)
$action-l1:   color.$blue-100; // Light (+1)
$action-base: color.$blue-500; // Base (0)
$action-d1:   color.$blue-700; // Dark (-1)


///----------------------------------------///
/// CORE STATUS (INFO)
///----------------------------------------///
$info-l2:   color.$blue-010; // Lightest (+2)
$info-l1:   color.$blue-100; // Light (+1)
$info-base: color.$blue-500; // Base (0)
$info-d1:   color.$blue-700; // Dark (-1)


///----------------------------------------///
/// CORE STATUS (ALERT)
///----------------------------------------///
$alert-l2:   color.$orange-010; // Lightest (+2)
$alert-l1:   color.$orange-100; // Light (+1)
$alert-base: color.$orange-500; // Base (0)
$alert-d1:   color.$orange-800; // Dark (-1)


///----------------------------------------///
/// CORE STATUS (SUCCESS)
///----------------------------------------///
$success-l2:   color.$green-010; // Lightest (+2)
$success-l1:   color.$green-100; // Light (+1)
$success-base: color.$green-500; // Base (0)
$success-d1:   color.$green-800; // Dark (-1)


///----------------------------------------///
/// CORE STATUS (WARNING)
///----------------------------------------///
$warning-l2:   color.$yellow-010; // Lightest (+2)
$warning-l1:   color.$yellow-100; // Light (+1)
$warning-base: color.$yellow-500; // Base (0)
$warning-d1:   color.$yellow-800; // Dark (-1)


///----------------------------------------///
/// CORE STATUS (FAILURE)
///----------------------------------------///
// TODO: rename to "error" instead of "failure"
$failure-l2:   color.$red-010; // Lightest (+2)
$failure-l1:   color.$red-100; // Light (+1)
$failure-base: color.$red-500; // Base (0)
$failure-d1:   color.$red-800; // Dark (-1)


///----------------------------------------///
/// SHADOWS
///----------------------------------------///
// Focus
$boxShadow--focus: 0 0 0 3px #{rgba(color.$blue-500, 0.5)};
// Elevation
$_black--a05: rgba(0, 0, 0, 0.05);
$_black--a06: rgba(0, 0, 0, 0.06);
$_black--a08: rgba(0, 0, 0, 0.08);
$_black--a10: rgba(0, 0, 0, 0.10);
$_black--a20: rgba(0, 0, 0, 0.20);
$_black--a25: rgba(0, 0, 0, 0.25);
$boxShadow--well: inset 0 3px 1px $_black--a06;
$boxShadow--low:     0 4px 4px $_black--a25;
$boxShadow--middle:  0 4px 8px $_black--a05, 0 4px  4px $_black--a10;
$boxShadow--high:    0 5px 5px $_black--a08, 0 8px  10px $_black--a10;
$boxShadow--highest: 0 6px 6px $_black--a06, 0 12px 16px $_black--a20;

$SHADOWS: (
  well: $boxShadow--well,
  low: $boxShadow--low,
  middle: $boxShadow--middle,
  high: $boxShadow--high,
  highest: $boxShadow--highest,
);

@function getShadow($elevation: none, $focus: false) {
  /* [debug] #{$_module}#getShadow(#{$elevation}, $focused: #{$focused}) */
  $base: ();
  @if $elevation != none {
    $base: map.get($SHADOWS, $elevation);
  }

  $result: ($base);
  @if $focus {
    $result: ($base, $boxShadow--focus);
  }

  @return $result;
}


///----------------------------------------///
/// Headings
///----------------------------------------///
$heading-fontSize--0: scale.$lg--5; // 36px;
$heading-fontSize--1: scale.$lg--3; // 28px
$heading-fontSize--2: $fontSize--lg;
$heading-fontSize--3: scale.$base; // 16px
$heading-fontSize--4: $_size14;
$heading-lineHeight: $lineHeight--dense;
$heading-fontWeight: font.weight(Bold);

///----------------------------------------///
/// UI Elements
///----------------------------------------///
$ui-fontSize: $_size14;
$ui-fontSize--sm: $fontSize--sm; // 12px
$ui-fontSize--lg: scale.$base; // 16px (1rem)
$ui-fontWeight: font.weight(Medium);
$ui-lineHeight: $lineHeight--dense;

///----------------------------------------///
/// Labels
///----------------------------------------///
$label-fontSize: $_size14;
$label-fontWeight: font.weight(Bold);
$label-lineHeight: $lineHeight--dense;

///----------------------------------------///
/// Inline Code
///----------------------------------------///
$inlineCode-backgroundColor: color.$ui-gray-050;
$inlineCode-borderColor: color.$ui-gray-200;
$inlineCode-color: color.$magenta-500;
$inlineCode-font: inherit;
$inlineCode-fontFamily: font.$family-system-mono;
$inlineCode-lineHeight: inherit;
$inlineCode-padding: 0 $size--2xs;
$inlineCode-borderRadius: $borderRadius;

///----------------------------------------///
/// Code Blocks
///----------------------------------------///
$codeBlock-fontFamily: font.$family-system-mono;
$codeBlock-fontSize: $_size14;
$codeBlock-fontWeight: font.weight(Medium);
$codeBlock-lineHeight: $lineHeight;

///----------------------------------------///
/// Controls/Inputs (inline)
///----------------------------------------///
:root {
  --pds-control-height: #{scale.$lg--4}; // ~32px
  --pds-control-fontSize: #{$ui-fontSize};
}
$control-height: var(--pds-control-height);
$control-fontSize: var(--pds-control-fontSize);

///----------------------------------------///
/// Breadcrumb Nav
///----------------------------------------///
$breadcrumbs-fontSize: $_size14;

///----------------------------------------///
/// Nav Link
///----------------------------------------///
$navLink-fontSize: $_size14;

///----------------------------------------///
/// Tab Link
///----------------------------------------///
$tabLink-fontSize: $_size14;

///----------------------------------------///
/// Banner
///----------------------------------------///
$banner-fontSize: $_size14;

///----------------------------------------///
/// Popup
///----------------------------------------///
$popup-fontSize: $fontSize;

// deprecated vars (prevent breaking existing consumption)
@import "light-deprecated";
