$_module: "PDS.Components.Link.Default";
/* --- [debug] CONFIG: #{$_module} --- */
@use "sass:map";
@use "../__config" as Link;
@use "../../../theme";
@use "../../../utils/pseudo" as Pseudo;

// :any-link
$DEFAULT: (
  color: theme.$action-base,
);
// :any-link:hover
$HOVER: map.merge($DEFAULT, (
  borderColor: currentcolor,
));
// :any-link:focus
$FOCUS: map.merge($HOVER, (
  boxShadow: theme.$boxShadow--focus,
));
// :any-link:active
$ACTIVE: map.merge($HOVER, (
  boxShadow: none !important,
  color: theme.$action-d1,
));

:root {
  @include Link.theme($DEFAULT);
}


@mixin appearance {
  /* [debug] #{$_module}@appearance */
  @include Pseudo.hover {
    @include Link.theme($HOVER);
  }

  @include Pseudo.focus {
    @include Link.theme($FOCUS);
  }

  @include Pseudo.active {
    @include Link.theme($ACTIVE);
  }
}

@mixin apply {
  /* [debug] #{$_module}@apply */
  @include Link.apply {
    @content;
  }
}
