///-------------------------------------------------------------------------///
/// WARNING: Private Sass module (definitions may change at ANY time)
///-------------------------------------------------------------------------///
$_module: "PDS.Components.Dropdown.Dialog";
/* --- [debug] CONFIG: #{$_module} --- */
@use "../../../theme";
@use "../../../utils/pseudo" as Pseudo;

$__blockSpace: theme.$size--2xs;
$__divider-color: theme.$borderColor--dim;

@mixin layout {
  /* [debug] #{$_module}@layout */
  align-items: stretch;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(100% - 1px);
  width: 12.5rem; // ~200px // FIXME: magic number

  hr {
    margin: $__blockSpace 0;
  }

  section {
    padding: $__blockSpace 0;

    + section {
      padding-top: $__blockSpace;
    }
  }
}

@mixin appearance {
  /* [debug] #{$_module}@appearance */
  background-color: theme.$backgroundColor;
  border-radius: theme.$borderRadius;
  border: 1px solid theme.$borderColor;
  color: theme.$color;
  box-shadow: theme.$boxShadow--low;

  hr {
    border: none; // reset border
    border-top: 1px solid $__divider-color;
  }

  section + section {
    border-top: 1px solid $__divider-color;
  }

  @include Pseudo.focus {
    outline: none;
  }
}

@mixin apply {
  /* [debug] #{$_module}@apply */
  .pds-dropdownDialog {
    margin-top: 0;
    padding: 0;
    @content;
  }
}
