///-------------------------------------------------------------------------///
/// WARNING: Private Sass module (definitions may change at ANY time)
///-------------------------------------------------------------------------///
$_module: "PDS.Components.Button.Secondary.Theme";
/* -- [DEBUG] CONFIG: #{$_module} --- */
@use "../../../theme";
@use "../../../tokens/color";
@use "../../../utils/pseudo" as Pseudo;

// NOTE: styles define a "Light" theme

@mixin appearance {
  /* [debug] #{$_module}@appearance */
  --pds-button-backgroundColor: #{color.$ui-gray-050};
  --pds-button-borderColor: #{color.$ui-gray-300};
  --pds-button-boxShadow: #{theme.getShadow(low)};
  --pds-button-color: #{color.$ui-gray-800};

  @include Pseudo.hover {
    --pds-button-backgroundColor: #{color.$white};
    --pds-button-borderColor: #{color.$ui-gray-600};
    --pds-button-boxShadow: #{theme.getShadow(middle)};
    --pds-button-color: #{color.$ui-gray-800};
  }

  @include Pseudo.focus {
    --pds-button-borderColor: #{color.$ui-gray-600};
    --pds-button-boxShadow: #{theme.getShadow(low, $focus: true)};
  }

  @include Pseudo.active {
    --pds-button-backgroundColor: #{color.$ui-gray-200};
    --pds-button-borderColor: #{color.$ui-gray-600};
    --pds-button-boxShadow: #{theme.getShadow($focus: true)};
    --pds-button-color: #{color.$ui-gray-800};
  }
}

@mixin appearance--disabled {
  /* [debug] #{$_module}@appearance--disabled */
  --pds-button-backgroundColor: #{color.$ui-gray-050};
  --pds-button-borderColor: #{color.$ui-gray-200};
  --pds-button-boxShadow: none;
  --pds-button-color: #{color.$ui-gray-400};

  @include Pseudo.focus {
    --pds-button-backgroundColor: #{color.$ui-gray-050};
    --pds-button-borderColor: #{color.$ui-gray-200};
    --pds-button-boxShadow: none;
    --pds-button-color: #{color.$ui-gray-400};
    --pds-button-boxShadow: #{theme.getShadow($focus: true)};
  }
}
