///-------------------------------------------------------------------------///
/// WARNING: Private Sass module (definitions may change at ANY time)
///-------------------------------------------------------------------------///
@forward "dialog/__config" as Dialog-*;
@forward "item/button/__config" as Button-*;
@forward "item/link/__config" as Link-*;
@forward "trigger/__config" as Trigger-*;
$_module: "PDS.Components.Dropdown";
/* --- [debug] CONFIG: #{$_module} --- */
@use "./dialog/__config" as Dialog;

// NOTE: transforms and animations omitted (no design specs)

// TODO: theme.* var for elevation (see "Figma > Docs > Elevations")
$zIndex--closed: 0;
$zIndex--open: 300;

@mixin layout {
  /* [debug] #{$_module}@layout */
  display: inline-block;
  position: relative;
  z-index: $zIndex--closed;

  &[open] {
    z-index: $zIndex--open;
  }

  /// ----- Alignment ----- ///
  &.pds--align-left {
    // Dialog.left same as Trigger.left
    @include Dialog.apply {
      left: 0;
      right: auto;
    }
  }

  &.pds--align-right {
    // Dialog.right same as Trigger.right
    @include Dialog.apply {
      left: auto;
      right: 0;
    }
  }
}

@mixin apply {
  /* [debug] #{$_module}@apply */
  .pds-dropdown {
    @content;
  }
}
