$_module: "PDS.Components.App";
/* --- [debug] CONFIG: #{$_module} --- */
@use "../../theme";
@use "../../tokens/color";
@use "../../utils/media" as Media;
@use "../drawer/config" as Drawer;

$fontSize: theme.$fontSize; // TODO: inherit font-size from <body>
$fontFamily: theme.$fontFamily;
$backgroundColor: theme.$backgroundColor;

@mixin layout--pc {
  /* [debug] #{$_module}@layout--pc */
  /*
     auto       1fr
    +---------+--------+
    | head    | head   |
    +---------+--------+
    | banner  | banner |
    +---------+--------+
    | sidebar | main   |
    +---------+--------+
    | sidebar | foot   |
    +---------+--------+
  */
  display: grid;
  grid-template-areas:
    "head    head"
    "banner  banner"
    "sidebar main"
    "sidebar foot";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr auto;
  // OPEN-to-CLOSED transition
  transition: /* CLOSED */ padding Drawer.$duration Drawer.$timingFunction;

  // assign grid areas

  &__header {
    grid-area: head;
  }

  &__body {
    grid-area: main;
  }

  &__footer {
    grid-area: foot;
  }

  &__sidebar {
    grid-area: sidebar;
  }

  &__banner {
    grid-area: banner;
  }

  &.has-open-drawer {
    padding-right: Drawer.$width;
    transition: /* OPEN */ padding-right Drawer.$duration Drawer.$timingFunction;
  }
}

@mixin layout {
  /* [debug] #{$_module}@layout */
  @include Media.pc {
    @include layout--pc;
  }
}

@mixin appearance {
  /* [debug] #{$_module}@appearance */
  background-color: $backgroundColor;
  font-family: $fontFamily;
  font-size: $fontSize;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden; // prevent horizontal scrolling
  padding: 0;
  width: 100%;
}

@mixin apply {
  /* [debug] #{$_module}@apply */
  .pds-app {
    @content;
  }
}
