$_module: "PDS.Components.App";
/* --- [debug] CONFIG: #{$_module} --- */
@use "../../theme";
@use "../../tokens/color";
@use "../../tokens/scale";
@use "../../utils/media" as Media;
@use "../drawer/config" as Drawer;

$fontSize: theme.$fontSize; // TODO: inherit font-size from <body>
$fontFamily: theme.$fontFamily;
$backgroundColor: theme.$backgroundColor;

@mixin layout--pc {
  /* [debug] #{$_module}@layout--pc */
  /*
     auto       1fr
    +---------+--------+
    | head    | head   |
    +---------+--------+
    | banner  | banner |
    +---------+--------+
    | sidebar | main   |
    +---------+--------+
    | sidebar | foot   |
    +---------+--------+
  */
  display: grid;
  grid-template-areas:
    "head    head"
    "banner  banner"
    "sidebar main"
    "sidebar foot";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr auto;

  // OPEN-to-CLOSED transition
  transition: padding Drawer.$duration Drawer.$timingFunction;

  // assign grid areas

  &__header {
    grid-area: head;
  }

  &__body {
    grid-area: main;
  }

  &__footer {
    grid-area: foot;
  }

  &__sidebar {
    grid-area: sidebar;
    // TODO: Is this always the same?
    width: 300px; // FIXME: magic number.

    // TODO: can we use the same padding for both top and bottom?
    $paddingBlockStart: scale.$lg--1; // 1.25rem (20px)
    $paddingBlockEnd: scale.$lg--5; // 2.25rem (36px) // TODO: needed?
    padding: $paddingBlockStart 0 $paddingBlockEnd;
  }

  &__banner {
    grid-area: banner;
  }

  &.has-open-drawer {
    padding-right: Drawer.$width;
    // CLOSED-to-OPEN transition
    transition: padding-right Drawer.$duration Drawer.$timingFunction;
  }
}

@mixin layout {
  /* [debug] #{$_module}@layout */

  // reset children white space
  > * {
    margin: 0;
    padding: 0;
  }

  @include Media.pc {
    @include layout--pc;
  }
}

@mixin appearance {
  /* [debug] #{$_module}@appearance */
  background-color: $backgroundColor;
  font-family: $fontFamily;
  font-size: $fontSize;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden; // prevent horizontal scrolling
  padding: 0;
  width: 100%;

  // TODO: apply "dark" theme via CSS custom props
  &__sidebar {
    background-color: color.$ui-gray-900;
    color: color.$white;
  }
}

@mixin apply {
  /* [debug] #{$_module}@apply */
  .pds-app {
    @content;
  }
}
