$_module: "PDS.Components.CtaLink.Primary";
/* --- [debug] CONFIG: #{$_module} --- */
@use "../../../utils/pseudo" as Pseudo;
@use "../../button/ghost/_config" as GhostButton;
@use "../_config" as CtaLink;

$DEFAULT: GhostButton.$DEFAULT;
$HOVER: GhostButton.$HOVER;
$FOCUS: GhostButton.$FOCUS;
$ACTIVE: GhostButton.$ACTIVE;
$DISABLED: GhostButton.$DISABLED;
$DISABLED-FOCUS: GhostButton.$DISABLED-FOCUS;

@mixin appearance {
  /* [debug] #{$_module}@appearance */
  @include CtaLink.theme($DEFAULT);

  @include Pseudo.hover {
    @include CtaLink.theme($HOVER);
  }

  @include Pseudo.focus {
    @include CtaLink.theme($FOCUS);
  }

  @include Pseudo.active {
    @include CtaLink.theme($ACTIVE);
  }

  @include CtaLink.whenDisabled {
    @include CtaLink.theme($DISABLED);

    @include Pseudo.focus {
      @include CtaLink.theme($DISABLED-FOCUS);
    }
  }
}

@mixin apply {
  /* [debug] #{$_module}@apply */
  @include CtaLink.apply {
    &.pds--ghost {
      @content;
    }
  }
}
