///-------------------------------------------------------------------------///
/// WARNING: Private Sass module (definitions may change at ANY time)
///-------------------------------------------------------------------------///
$_module: "PDS.Components.Nav.Header";
/* --- [debug] CONFIG: #{$_module} --- */
@use "../../../core/typography/_config" as Typography;
@use "../../../theme";
@use "../__config" as _super;

@mixin layout {
  /* [debug] #{$_module}@layout */
  margin: 0;
  padding: 0 theme.$size--xl;
}

@mixin appearance {
  /* [debug] #{$_module}@appearance */
  @include Typography.Interface(S);
}

@mixin apply {
  /* [debug] #{$_module}@apply */
  @include _super.apply {
    header {
      @content;
    }
  }
}
