$_module: "PDS.Components.<%= classifiedModuleName %>";
/* --- [debug] CONFIG: #{$_module} --- */
//@use ...

//==========================================================================//
// Define variables, functions, mixins, etc.
//
// - Nothing defined or imported in this module should
//   generate CSS on its own.
// - Consumers should be able to `@use "<%= sassModule %>/config";`
//   without having to worry that they've brought along unwanted
//   CSS style definitions.
//==========================================================================//

$color: inherit;

@mixin layout {
  /* [debug] #{$_module}@layout */
  // TBD...
}

@mixin appearance {
  /* [debug] #{$_module}@appearance */
  color: $color;
}

@mixin apply {
  /* [debug] #{$_module}@apply */
  .<%= cssClassName %> {
    @content;
  }
}
