/// Styles for tab links (above content) (See pds/components/tab-nav)
$_module: "PDS.Components.Link.Tab";
/* --- [debug] CONFIG: #{$_module} --- */
@use "sass:map";
@use "../../../core/typography/_config" as Typography;
@use "../../../tokens/scale";
@use "../__config" as Link;

$padding: scale.$base;

@mixin layout {
  /* [debug] #{$_module}@layout */
  display: inline-block;
  padding: $padding;
}

// base appearance/common styles
@mixin appearance {
  /* [debug] #{$_module}@appearance */
  @include Typography.Interface;
  white-space: nowrap;

  &.disabled {
    cursor: not-allowed;
  }
}
