$_module: "PDS.Components.Link.Tab.Current";
/* --- [debug] CONFIG: #{$_module} --- */
@use "sass:map";
@use "../../../theme";
@use "../../../tokens/color";
@use "../../../utils/pseudo" as Pseudo;
@use "../__config" as Link;

$DEFAULT: (
  color: theme.$action-base !important,
  borderColor: theme.$action-base,
  boxShadow: none,
);
$FOCUS: map.merge($DEFAULT, (
  boxShadow: inset theme.$boxShadow--focus,
));
$HOVER: map.merge($DEFAULT, (
  backgroundColor: color.$ui-gray-100,
));
$FOCUS_HOVER: map.merge($HOVER, $FOCUS);


@mixin appearance {
  /* [debug] #{$_module}@appearance */
  @include Link.theme($DEFAULT);

  @include Pseudo.focus {
    @include Link.theme($FOCUS);

    @include Pseudo.hover {
      @include Link.theme($FOCUS_HOVER);
    }
  }

  @include Pseudo.hover {
    @include Link.theme($HOVER);
  }
}
