///-------------------------------------------------------------------------///
/// WARNING: Private Sass module (definitions may change at ANY time)
///-------------------------------------------------------------------------///
$_module: "PDS.Components.Button.Theme";
/* --- [debug] CONFIG: #{$_module} --- */
@use "../../theme";
@use "../../tokens/scale";

// NOTE: styles define a "Light" theme

$padding--nearIcon: scale.$lg--1; // 20px;
$__size10: 0.625rem; // FIXME: not part of the modular scale!

// These styles should always be applied to the targeted element.
@mixin layout {
  /* [debug] #{$_module}@layout */
  --pds-button-columnGap: #{theme.$size--2xs};
  --pds-button-height: #{theme.$size--xl};
  --pds-button-paddingInlineEnd: #{theme.$size--lg};
  --pds-button-paddingInlineStart: #{theme.$size--lg};

  &.pds--iconStart {
    --pds-button-paddingInlineStart: #{$padding--nearIcon};
  }

  &.pds--iconEnd {
    --pds-button-paddingInlineEnd: #{$padding--nearIcon};
  }

  // 12px inline padding (regardless of icon presence)
  // should override iconStart/iconEnd padding
  &.pds--compact {
    --pds-button-height: #{scale.$lg--2}; // 1.5rem (24px)
    --pds-button-paddingInlineEnd: #{scale.$sm--1}; // 12px
    --pds-button-paddingInlineStart: #{scale.$sm--1}; // 12px
  }

  &.pds--iconOnly {
    --pds-button-columnGap: 0; // remove white space between adjacent icons
    --pds-button-paddingInlineEnd: #{$__size10}; // 10px
    --pds-button-paddingInlineStart: #{$__size10}; // 10px

    &.pds--compact {
      --pds-button-paddingInlineEnd: #{theme.$size--xs}; // 8px
      --pds-button-paddingInlineStart: #{theme.$size--xs}; // 8px
    }
  }
}

@mixin appearance {
  /* [debug] #{$_module}@appearance */
  --pds-button-backgroundColor: transparent;
  --pds-button-borderColor: transparent;
  --pds-button-boxShadow: none;
  --pds-button-color: inherit;
}
