///-------------------------------------------------------------------------///
/// WARNING: Private Sass module (definitions may change at ANY time)
///-------------------------------------------------------------------------///
$_module: "PDS.Components.GlobalNav.Link.Theme";
/* --- [debug] CONFIG: #{$_module} --- */
@use "../../../../tokens/color";
@use "../../../../utils/pseudo" as Pseudo;

// NOTE: styles define a "Dark" theme

@mixin appearance {
  /* [debug] #{$_module}@appearance */
  --pds-color: inherit;
  --pds-background-color: transparent;

  @include Pseudo.focus {
    --pds-color: #{color.$ui-gray-200};
  }

  @include Pseudo.hover {
    --pds-backgroundColor: #{color.$ui-gray-900};
  }

  @include Pseudo.active {
    --pds-color: #{color.$ui-gray-200};
    --pds-backgroundColor: #{color.$ui-gray-700};
  }
}

@mixin appearance--current {
  /* [debug] #{$_module}@appearance--current */
  --pds-backgroundColor: #{color.$ui-gray-800};
  --pds-color: #{color.$white};

  @include Pseudo.hover {
    --pds-backgroundColor: #{color.$ui-gray-700};
    --pds-color: #{color.$white};
  }

  @include Pseudo.active {
    --pds-link-color: #{color.$ui-gray-200};
    --pds-backgroundColor: #{color.$ui-gray-700};
  }
}
