///-------------------------------------------------------------------------///
/// WARNING: Private Sass module (definitions may change at ANY time)
///-------------------------------------------------------------------------///
/// Styles for links in vertical nav
$_module: "PDS.Components.Nav.Link";
/* --- [debug] CONFIG: #{$_module} --- */
@use "../../../theme";
@use "../../../utils/pseudo" as Pseudo;
@use "../../link/__config" as Link;
@use "../__config" as _super;
@use "__theme";

$borderWidth: theme.$size--2xs;

@mixin reset {
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@mixin layout {
  /* [debug] #{$_module}@layout */
  display: block;
  padding: theme.$size--xs theme.$size--xl;
  width: 100%;
}

@mixin appearance {
  background-color: theme.$navLink-backgroundColor;
  border-right: $borderWidth solid theme.$navLink-accent-color;
  box-shadow: theme.$navLink-boxShadow;
  color: theme.$navLink-color;
  font-size: theme.$navLink-fontSize;

  @include Pseudo.hover {
    text-decoration: underline;
  }

  @include Pseudo.focus {
    text-decoration: underline;
  }

  // :active (pseudo-class) = "pressed"/mousedown/keydown [transient]
  //         - applied as user is pressing the link (before navigation)
  @include Pseudo.active {
    text-decoration: underline;
  }

  @include _theme.apply;
}

@mixin apply {
  /* [debug] #{$_module}@apply */
  @include _super.apply {
    @include Link.apply {
      @content;
    }
  }
}
