///-------------------------------------------------------------------------///
/// WARNING: Private Sass module (definitions may change at ANY time)
///-------------------------------------------------------------------------///
$_module: "PDS.Components.Nav.Link.Theme";
/* --- [debug] CONFIG: #{$_module} --- */
@use "../../../theme";
@use "../../../tokens/color";
@use "../../../utils/pseudo" as Pseudo;
@use "../../link/__config" as Link;

@mixin apply {
  /* [debug] #{$_module}@apply */
  --pds-navLink-accent-color: transparent;
  --pds-navLink-backgroundColor: transparent;
  --pds-navLink-boxShadow: none;
  --pds-navLink-color: #{color.$ui-gray-200};

  @include Pseudo.hover {
    --pds-navLink-backgroundColor: #{rgba(white, 0.05)}; // TODO: switch to solid color
    --pds-navLink-color: #{color.$white};
  }

  @include Pseudo.focus {
    --pds-navLink-boxShadow: inset #{theme.$boxShadow--focus};
  }

  @include Pseudo.active {
    --pds-navLink-backgroundColor: #{rgba(white, 0.1)};
    --pds-navLink-boxShadow: none;
    --pds-navLink-color: #{color.$white};
  }

  // .active (class) = "current route" [static]
  //         - default class name applied by `<LinkTo />`
  @include Link.whenCurrent {
    --pds-navLink-accent-color: #{color.$ui-gray-300};
    --pds-navLink-backgroundColor: #{rgba(white, 0.1)};
    --pds-navLink-boxShadow: none;
    --pds-navLink-color: #{color.$white};
  }
}
