///-------------------------------------------------------------------------///
/// WARNING: Private Sass module (definitions may change at ANY time)
///-------------------------------------------------------------------------///
$_module: "PDS.Components.Dropdown.ListItem";
/* --- [debug] CONFIG: #{$_module} --- */
@use "../../../core/typography/_config" as Typography;
@use "../../../theme";
@use "../../../tokens/font" as Font;
@use "../__config" as _super;

@mixin layout {
  /* [debug] #{$_module}@layout */
  padding: theme.$size--xs theme.$size--sm;
}

@mixin appearance {
  /* [debug] #{$_module}@appearance */
  @include Typography.Interface;
  border: none;
  font-weight: Font.weight(Light);
}

@mixin apply {
  /* [debug] #{$_module}@apply */
  @include _super.apply {
    &__listItem {
      @content;
    }
  }
}
