$_module: "PDS.Components.Icon";
/* --- [debug] CONFIG: #{$_module} --- */

$color: currentColor;

@mixin layout {
  /* [debug] #{$_module}@layout */
  display: inline-block;
  flex-shrink: 0;
  font-size: inherit;
  height: 1em;
  line-height: inherit;
  width: 1em;

  &__svgWrapper {
    display: inline-block;
    line-height: 1;

    svg {
      height: 1em !important;
      width: 1em !important;
      vertical-align: bottom;
    }
  }
}

@mixin appearance {
  /* [debug] #{$_module}@appearance */
  svg {
    fill: $color;
    stroke: none;
  }
}

@mixin apply {
  /* [debug] #{$_module}@apply */
  .pds-icon {
    @content;
  }
}

