$_module: "PDS.Components.Modal.Area";
/* --- [debug] CONFIG: #{$_module} --- */

// TODO: need theme vars for elevation
$zIndex: 10;

/*
  Placeholder Modals container

  - APPEND as many modals as required, in the order they
    are opened (Last-In, First-Out)
  - Each new modal should layer on top of pre-existing modals
    (only interact with one modal at a time)
*/
@mixin appearance {
  /* [debug] #{$_module}@appearance */
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: $zIndex;

  /*
    Should be hidden when `:empty` to prevent
    blocking pointer events to background elements.

    IMPORTANT!
    ----------
    If there are no modal dialogs to display,
    DO NOT render ANY palpable content between
    open and closing tags (including whitespace).
  */
  &:empty {
    display: none;
  }
}

@mixin apply {
  /* [debug] #{$_module}@apply */
  .pds-modalArea {
    @content;
  }
}
