$_module: "PDS.Components.Link";
/* --- [debug] CONFIG: #{$_module} --- */
@use "sass:map";
@use "../../core/typography/config" as Typography;
@use "../../theme";
@use "../../utils/pseudo" as Pseudo;

$underline-width: 1px;

@mixin reset {
  @include Typography.reset;
}

// [1] accounts for invisible border (which adds height)
//     to correct vertical alignment with adjacent, non-link text
@mixin layout {
  margin-block-end: -($underline-width); // [1]
}

@mixin appearance {
  /* [debug] #{$_module}@appearance */
  background-color: transparent;
  border-bottom: $underline-width solid theme.$link-underline-color;
  box-shadow: none;
  color: theme.$link-color;
  cursor: pointer;
  text-decoration: none;

  @include Pseudo.focus {
    box-shadow: theme.$boxShadow--focus;
    outline: none;
  }
}

// `<LinkTo>` applies the .active class to communicate that a link targets the
// _current route_.  However, this can be confusing alongside the :active
// pseudo-class, which indicates that the link is actively being _pressed_.
//
// Rather than override every `<LinkTo>`, we'll embrace the default behavior.
// This mixin is provided to declaratively apply "current" styling in Sass
// stylesheets, using the expected semantic naming.
//
// See https://api.emberjs.com/ember/release/classes/Ember.Templates.components/methods/LinkTo#handling-current-route
@mixin whenCurrent {
  /* [debug] #{$_module}@whenCurrent */
  &.active {
    @content;
  }
}

@mixin whenDisabled {
  /* [debug] #{$_module}@whenDisabled */
  &.disabled, // <LinkTo @disabled={{true}}>
  &.pds--disabled { // <Pds::CtaLink @disabled={{true}}>
    @content;
  }
}

@mixin apply {
  /* [debug] #{$_module}@apply */
  :any-link:not(.pds-button, .hds-button, .hds-link-standalone, .hds-link-inline, .hds-dropdown-list-item--interactive, .hds-breadcrumb__link, .hds-tag__link) {
    @content;
  }
}
