///-------------------------------------------------------------------------///
/// WARNING: Private Sass module (definitions may change at ANY time)
///-------------------------------------------------------------------------///
$_module: "PDS.Components.GlobalHeader.Dropdown.Theme";
/* --- [debug] CONFIG: #{$_module} --- */
@use "../../../tokens/color";

// NOTE: styles define a "Dark" theme

@mixin appearance {
  /* [debug] #{$_module}@appearance */
  --pds-backgroundColor: #{color.$black};
  --pds-borderColor--dim: #{color.$ui-gray-800}; // i.e., divider color
  --pds-borderColor: #{color.$ui-gray-700};
  --pds-color: #{color.$ui-gray-200};
  --pds-label-color: #{color.$ui-gray-500};
}
