///-------------------------------------------------------------------------///
/// WARNING: Private Sass module (definitions may change at ANY time)
///-------------------------------------------------------------------------///
$_module: "PDS.Components.GlobalHeader.Dropdown.Trigger";
/* -- [DEBUG] CONFIG: #{$_module} --- */
@use "../../__config" as _super;
@use "__theme";

@mixin layout {
  /* [debug] #{$_module}@appearance */
  @include _theme.layout;
  display: flex;

  &.pds--iconOnly {
    width: var(--pds-button-height); // 1:1 aspect
  }
}

@mixin appearance {
  /* [debug] #{$_module}@appearance */
  @include _theme.appearance;
}

@mixin appearance--toggled {
  /* [debug] #{$_module}@appearance */
  @include _theme.appearance--toggled;
}
