///-------------------------------------------------------------------------///
/// WARNING: Private Sass module (definitions may change at ANY time)
///-------------------------------------------------------------------------///
$_module: "PDS.Components.Dropdown.Trigger";
/* --- [debug] CONFIG: #{$_module} --- */
@use "../../../theme";
@use "../../button/__config" as Button;

// Majority of theming/variation comes from Button modifier classes.

@mixin layout {
  /* [debug] #{$_module}@layout */

  // remove conflicting layout styles on <summary> so that we can reapply them
  // to the wrapper
  @include Button.layout--reset;

  // retarget the wrapper for Button layout styling
  &__layoutWrapper {
    @include Button.layout--root;
  }
}

@mixin appearance {
  /* [debug] #{$_module}@appearance */
  &::-webkit-details-marker {
    display: none;
  }

  &.pds--open &__icon {
    transform: scaleY(-1);
  }
}

@mixin apply {
  /* [debug] #{$_module}@apply */
  .pds-dropdownTrigger {
    @content;
  }
}
