@use "../../theme";
@use "../../tokens/color";
@use "../../tokens/font";
@use "../../tokens/scale";

// Vendored CSS from `@hashicorp/structure-icons`
@import "/@hashicorp/pds-ember/structure-icons/loading.css";

// FIXME: no styles in index
// FIXME: make/use __config
// FIXME: local vars to theme vars mapping
// FIXME: avoid font style overrides

.pds-loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__elapsed {
    color: color.$black; // TODO: use component or theme.* var
    font-size: scale.$sm--1; // FIXME: magic number
    height: scale.$lg--3; // FIXME: magic number
    line-height: scale.$base; // FIXME: avoid staic line-height
  }

  &__icon {
    font-size: scale.$lg--15;
    margin-bottom: scale.$sm--1; // TODO: apply component-level spacing

    // TODO: can this be made more generic?
    .structure-icon-loading-progress {
      stroke-linecap: square;
    }

    svg path {
      stroke-width: 9%; // FIXME: magic number
      fill: none;
    }
  }

  &__header {
    color: theme.$color;
    font-size: scale.$lg--1; // FIXME: magic number
    font-weight: font.weight(Bold);
    height: scale.$lg--3; // FIXME: magic number
    line-height: scale.$lg-5; // FIXME: avoid static line-height [a11y]
    margin-bottom: scale.$base; // TODO: apply component-level spacing
  }

  &__message {
    color: color.$ui-gray-500; // TODO: use component var
    font-size: 14px; // FIXME: isolate 14px font-size to a theme.* var
    font-weight: font.weight(Medium);
    //margin: 0 auto; // TODO: better centering
    width: 285px; // FIXME: magic number
  }
}

@media (min-width: theme.$media--sm) {
  .pds-loading {
    padding: scale.$lg--13; // FIXME: magic number

    &__message {
      width: 487px; // FIXME: magic number
    }
  }
}
