$_module: "PDS.Components.Button.Secondary";
/* -- [DEBUG] CONFIG: #{$_module} --- */
@use "sass:map";
@use "../../../theme";
@use "../../../tokens/color";
@use "../../../utils/pseudo" as Pseudo;
@use "../config" as Button;

/// :enabled
$DEFAULT: (
  backgroundColor: color.$ui-gray-050,
  borderColor: color.$ui-gray-300,
  boxShadow: theme.getShadow(low),
  color: color.$ui-gray-800,
);
/// :enabled:hover
$HOVER: (
  backgroundColor: color.$white,
  borderColor: color.$ui-gray-600,
  boxShadow: theme.getShadow(middle),
  color: color.$ui-gray-800,
);
/// :enabled:focus
$FOCUS: (
  borderColor: color.$ui-gray-600,
  boxShadow: theme.getShadow(low, $focus: true),
);
/// :enabled:active (implies :focus)
$ACTIVE: (
  backgroundColor: color.$ui-gray-200,
  borderColor: color.$ui-gray-600,
  boxShadow: theme.getShadow($focus: true),
  color: color.$ui-gray-800,
);
/// :disabled
$DISABLED: (
  backgroundColor: color.$ui-gray-050,
  borderColor: color.$ui-gray-200,
  boxShadow: none,
  color: color.$ui-gray-400,
);
/// :disabled:focus
$DISABLED-FOCUS: map.merge($DISABLED, (
  boxShadow: theme.getShadow($focus: true),
));


@mixin appearance {
  /* [debug] #{$_module}@appearance */
  @include Button.theme($DEFAULT);

  @include Pseudo.hover {
    @include Button.theme($HOVER);
  }

  @include Pseudo.focus {
    @include Button.theme($FOCUS);
  }

  @include Pseudo.active {
    @include Button.theme($ACTIVE);
  }

  &:disabled {
    @include Button.theme($DISABLED);

    @include Pseudo.focus {
      @include Button.theme($DISABLED-FOCUS);
    }
  }
}

@mixin apply {
  /* [debug] #{$_module}@apply */
  .pds-button {
    @content;
  }
}
