.structure-icon-loading-base {
  opacity: 0.1;
}

.structure-icon-loading-progress {
  animation: structure-icon-loading-fancy-spin 3s infinite linear;
  opacity: 0.25;
  stroke-dasharray: 0 44;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  transform-origin: 50% 50%;
}

@keyframes structure-icon-loading-fancy-spin {
  0% {
    stroke-dasharray: 0 44;
    stroke-dashoffset: 0;
  }
  25% {
    stroke-dasharray: 33 11;
    stroke-dashoffset: -40;
  }
  50% {
    stroke-dasharray: 0 44;
    stroke-dashoffset: -110;
  }
  75% {
    stroke-dasharray: 33 11;
    stroke-dashoffset: -150;
  }
  100% {
    stroke-dasharray: 0 44;
    stroke-dashoffset: -220;
  }
}

@keyframes structure-icon-loading-simple-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Show fallback for old IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .structure-icon-loading-progress {
    stroke-dasharray: none;
    stroke-dashoffset: 0;
  }

  .structure-icon-loading {
    animation: structure-icon-loading-simple-spin 1s infinite linear;
  }
}
