@use "../../../tokens/scale";
@use "../../dropdown/__config" as Dropdown;
@use "../__config" as _super;

@include _super.apply {
  &__userMenu {
    --pds-avatar-size: #{scale.$lg--4}; // 2rem (32px)

    @include Dropdown.Trigger-apply {
      --pds-button-paddingInlineStart: 2px !important;
      --pds-button-paddingInlineEnd: 2px !important;

      > * {
        // We remove the line height in order to get rid of
        // unwanted vertical whitespace on the Avatar <img>.
        line-height: 0;
      }
    }
  }
}
