$_module: "PDS.Components.CtaLink";
/* --- [debug] CONFIG: #{$_module} --- */
@use "../../core/typography/config" as Typography;
@use "../../utils/pseudo" as Pseudo;
@use "../config" as Component;
@use "../button/_config" as Button;
@use "../link/__config" as Link;

@mixin theme($styles) {
  /* [debug] #{$_module}@theme */
  @include Component.theme(ctaLink, $styles);
}

$backgroundColor: var(--pds-ctaLink-backgroundColor);
$borderColor: var(--pds-ctaLink-borderColor);
$borderRadius: var(--pds-ctaLink-borderRadius);
$boxShadow: var(--pds-ctaLink-boxShadow);
$color: var(--pds-ctaLink-color);
$fontFamily: Button.$fontFamily;

@mixin layout {
  /* [debug] #{$_module}@layout */
  @include Button.layout;
  margin: unset;
}

@mixin whenDisabled {
  /* [debug] #{$_module}@whenDisabled */
  &.pds--disabled {
    @content;
  }
}

@mixin appearance {
  /* [debug] #{$_module}@appearance */
  @include Typography.Interface(M);
  background-color: $backgroundColor;
  border-radius: $borderRadius;
  border: 1px solid $borderColor;
  box-shadow: $boxShadow;
  color: $color;
  cursor: pointer;
  font-family: $fontFamily;
  text-decoration: none;

  @include theme(Button.$DEFAULT);

  @include Pseudo.focus {
    outline: none;
  }

  @include whenDisabled {
    cursor: default;
  }
}

@mixin apply {
  /* [debug] #{$_module}@apply */
  @include Link.apply {
    &.pds--cta {
      @content;
    }
  }
}
