///-------------------------------------------------------------------------///
/// WARNING: Private Sass module (definitions may change at ANY time)
///-------------------------------------------------------------------------///
$_module: "PDS.Components.GlobalFooter";
/* --- [debug] CONFIG: #{$_module} --- */
@use "../../core/typography/_config" as Typography;
@use "../../theme";
@use "../../tokens/color";
@use "../link/_config" as Link;
@use "../link/incognito/_config" as IncognitoLink;

$backgroundColor: color.$white;
$borderColor: theme.$borderColor;
$borderWidth: 1px;
$color: color.$ui-gray-500;

@mixin layout {
  /* [debug] #{$_module}@layout */
  display: flex;
  justify-content: center; // center content horizontally
  padding: theme.$size--lg;

  > * {
    // children spacing
    + * {
      margin-inline-start: theme.$size--lg;
    }

    // grandchildren spacing
    > * + * {
      margin-inline-start: theme.$size--xs;
    }
  }

  &__productName,
  &__nav {
    align-items: center;
    display: flex;
  }
}

@mixin appearance {
  /* [debug] #{$_module}@appearance */
  @include Typography.Interface(S);
  background-color: $backgroundColor;
  border-top: $borderWidth solid $borderColor;
  color: $color;

  @include Link.apply {
    @include IncognitoLink.appearance;
  }
}

@mixin apply {
  /* [debug] #{$_module}@apply */
  .pds-globalFooter {
    @content;
  }
}
