$_module: "PDS.Components.FormField";
/* --- [debug] CONFIG: #{$_module} --- */
@use "../../theme";
@use "../../utils/layout" as Layout;
@use "../field-name/config" as FieldName;

@mixin layout {
  /* [debug] #{$_module}@layout */
  @include Layout.stack($gap: theme.$size--2xs);
  @include FieldName.apply {
    align-self: start;
  }
}

@mixin apply {
  /* [debug] #{$_module}@apply */
  .pds-formField {
    @content;
  }
}
